img {
    //Tamaño
    height: 250px;
    width: 250px;
    //Redonda
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

    //borde y margenes
    border: white 3px solid;
    margin-top: 5%;
    margin-bottom: 10%;
}

ion-card{
    width: 100%;
     height: 100%; 
     border-radius: 1pc;
}

#nombre{
    font-size: 2pc; 
    color: whitesmoke; 
}

#location{
    font-size: 1pc; 
    color: grey; 
    margin-bottom: 4%;
}

#info{
    text-align: left; 
    margin-left: 5%; 
}

#interests{
    padding: 3%; 
    margin: 5px ;  
    color: white; 
    border-radius: 1pc; 
    font-size:1pc;
}